{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <header class="masthead" style="background-image: url('static/home-contabilita.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Rasulo Marketing Studio</h1>
              {% if current_user.is_authenticated %}
            <span class="subheading">Bentornato {{ current_user.name }}!</span>
              {% else %}
            <span class="subheading"><a href="{{ url_for('login') }}">Fai il login</a> per accedere alla contabilit&agrave;</span>
              {% endif %}

          </div>
        </div>
      </div>
    </div>
  </header>





{% include "footer.html" %}
{% endblock %}